/* ------------------------------------------------------------ */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "Arial", Georgia, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat; }

img {
  max-width: 100%; }

.visually-hidden {
  text-align: center; }

.container {
  width: 1280px;
  margin: 0 auto; }

.visually-hidden {
  display: none;
  text-align: center; }

.margin {
  margin-top: -21px; }

.section__box {
  padding-top: 21px;
  padding-left: 48px;
  padding-right: 50px; }

.list-style {
  list-style: none; }

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* fullpage scroll */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-1  */
/* ----------- */
.section-1 {
  max-block-size: 344px;
  background-color: #445162; }

.head-product {
  font-size: 60px;
  color: #ffffff;
  text-transform: none;
  font-weight: 400; }

.section-1__box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.section-1__box-flex__img {
  background-image: url(../img/section-1/img-section-1.png);
  background-repeat: no-repeat;
  position: relative;
  bottom: 100px;
  left: 17px;
  width: 470px;
  height: 215px; }

.section-1__box-list {
  margin-top: -8px;
  margin-left: -55px; }
  .section-1__box-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.section-1__box-list__item {
  padding-right: 200px; }
  .section-1__box-list__item p {
    position: relative;
    bottom: 9px;
    margin-bottom: 15px;
    padding-left: 36px;
    padding-bottom: 1px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
    line-height: 0px; }

.section-1__box-list__item {
  background-image: url(../img/section-1/check-icon.png);
  background-repeat: no-repeat; }

/* ----------- */
/*  Section-1  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-2  */
/* ----------- */
.section-2 {
  min-height: 344px;
  background-color: #ffffff; }

.section-2__product {
  font-size: 30px;
  color: #445161;
  text-transform: none;
  font-weight: 400; }

.section-2__box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1200px; }
  .section-2__box-flex img {
    margin-top: -54px;
    margin-left: 100px; }

.section-2__box-flex__about {
  width: 655px; }
  .section-2__box-flex__about p {
    font-size: 16px;
    color: #494949;
    text-transform: none;
    font-weight: 400; }

/* ----------- */
/*  Section-2  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-3  */
/* ----------- */
.section-3 {
  min-height: 415px;
  background-color: #f5f5f5; }

.section-3__product {
  margin-top: 25px;
  text-align: center;
  font-size: 30px;
  color: #445161;
  text-transform: none;
  font-weight: 400; }

.section-3__product-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.section-3__product--features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1150px;
  padding-left: 0; }
  .section-3__product--features li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 590px; }
    .section-3__product--features li img {
      margin-right: 10px; }
    .section-3__product--features li p {
      font-size: 16px;
      color: #333333;
      text-transform: none;
      font-weight: 400; }

/* ----------- */
/*  Section-3  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-4  */
/* ----------- */
/* ----------- */
/*  Section-4  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-5  */
/* ----------- */
/* ----------- */
/*  Section-5  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-6  */
/* ----------- */
/* ----------- */
/*  Section-6  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-7  */
/* ----------- */
/* ----------- */
/*  Section-7  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-8  */
/* ----------- */
/* ----------- */
/*  Section-8  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
