/* ------------------------------------------------------------ */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "Arial", Georgia, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat; }

img {
  max-width: 100%; }

.container {
  width: 1280px;
  margin: 0 auto; }

.visually-hidden {
  display: none;
  text-align: center; }

.margin {
  margin-top: -21px; }

.section__box {
  height: 343px;
  padding-top: 21px;
  padding-left: 48px;
  padding-right: 50px; }

.list-style {
  list-style: none; }

.head-sections {
  font-size: 30px;
  color: #445161;
  text-transform: none;
  font-weight: 400; }

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* fullpage scroll */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-1  */
/* ----------- */
.section-1 {
  max-block-size: 344px;
  background-color: #445162; }

.head-product {
  font-size: 60px;
  color: #ffffff;
  text-transform: none;
  font-weight: 400; }

.section-1__box-flex {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.section-1__box-flex__img {
  background-image: url(../img/section-1/img-section-1.png);
  background-repeat: no-repeat;
  position: relative;
  bottom: 100px;
  left: 17px;
  width: 470px;
  height: 215px; }

.section-1__box-list {
  height: 133px;
  margin-top: -8px;
  margin-left: -55px; }
  .section-1__box-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.section-1__box-list__item {
  padding-right: 200px; }
  .section-1__box-list__item p {
    position: relative;
    bottom: 9px;
    margin-bottom: 15px;
    padding-left: 36px;
    padding-bottom: 1px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
    line-height: 0px; }

.section-1__box-list__item {
  background-image: url(../img/section-1/check-icon.png);
  background-repeat: no-repeat; }

/* ----------- */
/*  Section-1  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-2  */
/* ----------- */
.section-2 {
  min-height: 344px; }

.head-sections__section-2 {
  padding-top: 3px;
  padding-left: 3px; }

.section-2__box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1200px; }
  .section-2__box-flex img {
    margin-top: -48px;
    margin-left: 97px; }

.section-2__box-flex__about {
  width: 655px;
  margin-top: -10px;
  padding-left: 2px; }
  .section-2__box-flex__about p {
    font-size: 16px;
    color: #494949;
    text-transform: none;
    font-weight: 400;
    line-height: 1.45; }
    .section-2__box-flex__about p:last-child {
      margin-top: -4px; }

/* ----------- */
/*  Section-2  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-3  */
/* ----------- */
.section-3 {
  min-height: 415px;
  background-color: #f5f5f5; }

.section-3__product {
  text-align: center;
  margin-top: 25px; }

.section-3__product-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px; }

.section-3__product--features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1150px;
  padding-left: 0; }
  .section-3__product--features li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 590px; }
    .section-3__product--features li img {
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 0px; }
    .section-3__product--features li p {
      font-size: 16px;
      color: #333333;
      text-transform: none;
      font-weight: 400;
      line-height: 1.45; }
      .section-3__product--features li p:nth-child(2) {
        margin-top: 14.5px; }

/* ----------- */
/*  Section-3  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-4  */
/* ----------- */
.section-4 {
  min-height: 487px; }

.section-4__scrinshots {
  text-align: center;
  margin-top: 28px;
  padding-left: 2px; }

.section-4__scrinshots--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1240px; }

.scrinshots--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px; }
  .scrinshots--flex img {
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 16px; }

.scrinshots--flex__img-2 {
  position: relative;
  top: -17px; }

.scrinshots--flex__img-4 {
  position: relative;
  top: 2px;
  right: 29px; }

.scrinshots--flex--info {
  position: relative;
  top: -17px; }
  .scrinshots--flex--info h2 {
    font-size: 24px;
    color: #858c95;
    text-transform: none;
    font-weight: 400; }
  .scrinshots--flex--info p {
    position: relative;
    top: 5px;
    width: 374px;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 16px;
    color: #333333;
    text-transform: none;
    font-weight: 400;
    line-height: 1.55; }

.scrinshots--flex--info__head {
  margin-bottom: -12px; }

.scrinshots--flex--info__head-2 {
  position: relative;
  right: 32px; }

.scrinshots--flex--info__head-3 {
  position: relative;
  top: 4px;
  right: 1px; }

.scrinshots--flex--info__head-4 {
  position: relative;
  top: 4px;
  right: 31px; }

.scrinshots--flex--info-left {
  margin-right: 65px; }

.scrinshots--flex--info-left-2 {
  position: relative;
  top: 4px;
  right: 31px; }

.scrinshots--flex--info-left-3 {
  margin-top: -10px;
  right: 1px; }

.scrinshots--flex--info-left-4 {
  margin-top: -11px;
  right: 31px; }

/* ----------- */
/*  Section-4  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-5  */
/* ----------- */
.section-5 {
  margin-top: -21px;
  margin-right: 1px;
  background-color: #f5f5f5; }

.section-5__reviews {
  text-align: center;
  padding-top: 48px; }

.section-5__reviews--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews--flex__column {
  width: 590px;
  margin-top: 8px;
  margin-left: 50px;
  margin-bottom: 51px; }
  .reviews--flex__column:last-child {
    margin-left: 0px;
    margin-right: 50px;
    padding-left: 16px; }

.flex__column {
  width: 574px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex__column img {
    margin-top: 0px;
    margin-right: 16px; }

.flex__column--info {
  min-height: 121px;
  background-image: url(../img/section-5/bg-review.png);
  background-repeat: no-repeat; }
  .flex__column--info p:first-child {
    width: 488px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 15px;
    font-size: 14px;
    color: #333333;
    text-transform: none;
    font-weight: 400;
    font-style: italic;
    line-height: 1.3; }
  .flex__column--info p:last-child {
    margin-top: 0px;
    padding-left: 26px;
    padding-bottom: 16px;
    font-size: 14px;
    color: #989898;
    text-transform: none;
    font-weight: 400; }

.flex__column--info__p-1 {
  position: relative;
  left: 1px;
  bottom: 2px; }

.flex__column--info__p-2 {
  position: relative;
  top: -5px;
  right: -1px; }

.flex__column--info__p-3 {
  position: relative;
  top: -2px;
  left: 2px; }

.flex__column--info__p-4 {
  position: relative;
  top: -6px;
  left: 2px; }

.flex__column--info__p-1-1 {
  position: relative;
  top: -9px;
  left: 1px; }

.flex__column--info__p-2-2 {
  position: relative;
  top: -12px;
  left: 1px; }

.flex__column--info__p-3-3 {
  position: relative;
  top: -10px;
  left: 2px; }

.flex__column--info__p-4-4 {
  position: relative;
  top: -12px;
  left: 2px; }

/* ----------- */
/*  Section-5  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-6  */
/* ----------- */
.section-6 {
  min-height: 655px;
  margin-top: -4px;
  padding-left: 49px;
  padding-right: 50px;
  padding-bottom: 49px; }

.section-6__buy-it-now {
  text-align: center; }

.buy-it-now-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 14px; }

.buy-it-now-flex__columns {
  margin-right: 45px;
  border-radius: 5px; }
  .buy-it-now-flex__columns:first-child {
    margin-left: -1px; }
  .buy-it-now-flex__columns:last-child {
    margin-right: 0px; }

.buy-it-now-flex__columns-standart {
  width: 300px;
  height: 306px;
  margin-top: 193px;
  background-image: url(../img/section-6/bg-standart.png);
  background-repeat: no-repeat; }

.buy-it-now-flex__columns-premium {
  width: 300px;
  margin-top: 101px;
  background-image: url(../img/section-6/bg-premium.png);
  background-repeat: no-repeat; }

.buy-it-now-flex__columns-lux {
  width: 300px;
  max-block-size: 499px;
  background-image: url(../img/section-6/bg-lux.png);
  background-repeat: no-repeat; }

.buy-it-now-flex__columns-inside {
  padding-left: 2px;
  padding-right: 5px; }

.buy-it-now-flex__columns--header {
  margin-top: 0px;
  margin-bottom: 0;
  padding-top: 17px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  text-transform: none; }

.columns--header__standart {
  position: relative;
  top: -4px;
  margin-top: 5px;
  margin-bottom: -8px; }

.columns--header__premium {
  position: relative;
  top: 5px;
  margin-top: -8px; }

.columns--header__lux {
  position: relative;
  bottom: 1px;
  margin-top: 0px; }

.buy-it-now-flex__columns--price {
  height: 64px;
  margin-top: 21px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 40px;
  color: #445162;
  font-weight: 400;
  background-color: #ffffff; }

.buy-it-now-flex__columns--price-standart {
  position: relative;
  top: 3px;
  left: 2px; }

.buy-it-now-flex__columns--price-premium {
  position: relative;
  top: -2px;
  left: 2px; }

.buy-it-now-flex__columns--price-lux {
  position: relative;
  top: -4px;
  left: 2px; }

.flex__inside {
  padding-left: 18px;
  padding-right: 18px; }

.flex__inside__lux {
  position: relative;
  top: -10px; }

.flex__inside--list {
  margin-bottom: 44px;
  padding-top: 6px; }
  .flex__inside--list li {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.85;
    text-transform: none; }

.flex__inside--list-standart {
  position: relative;
  width: 303px;
  top: -8px;
  right: -1px;
  padding-top: 1px;
  margin-left: -25px; }

.flex__inside--list__premium {
  width: 303px;
  position: relative;
  top: -12px;
  right: 23px; }

.flex__inside--list__lux {
  position: relative;
  width: 303px;
  top: -8px;
  right: 15px; }

.button-buy {
  margin-top: 19px;
  margin-bottom: 20px;
  padding-top: 14px;
  padding-left: 111px;
  padding-right: 112px;
  padding-bottom: 13px;
  font-size: 18px;
  color: #445161;
  font-weight: bold;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none; }
  .button-buy:hover {
    border: 1px solid white;
    background-color: #4f5e71;
    color: #ffffff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .button-buy:active, .button-buy:focus {
    border: 1px solid white;
    background-color: #617185;
    color: #ffffff; }

.button-buy__standart {
  position: relative;
  top: -29px; }

.button-buy__premium {
  position: relative;
  top: -32px; }

.button-buy__lux {
  position: relative;
  top: -34px; }

/* ----------- */
/*  Section-6  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-7  */
/* ----------- */
.section-7 {
  min-height: 508px;
  margin-top: -66px;
  background-color: #445162; }

.section-7__box {
  min-height: 508px;
  margin-top: -104px;
  padding-top: 83px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 49px; }

.section-7__contacts {
  padding-top: 50px;
  text-align: center;
  color: white; }

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: 199px;
  margin-right: 196px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.contacts-form {
  padding-top: 3px; }
  .contacts-form form {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contacts-form form input:first-child,
    .contacts-form form input:nth-child(2) {
      height: 40px;
      padding-top: 14px;
      padding-left: 10px;
      font-size: 16px;
      color: #445162;
      font-weight: 400;
      border-radius: 5px;
      border: none; }
    .contacts-form form input:first-child {
      margin-bottom: 21px;
      padding-bottom: 14px; }
    .contacts-form form input:nth-child(2) {
      margin-bottom: 22px;
      padding-bottom: 15px; }
    .contacts-form form input:nth-child(3) {
      height: 170px;
      margin-bottom: 23px;
      padding-top: 13px;
      padding-left: 10px;
      padding-bottom: 142px;
      font-size: 16px;
      color: #445162;
      font-weight: 400;
      border-radius: 5px;
      border: none; }
    .contacts-form form input:nth-child(4) {
      width: 140px;
      height: 40px;
      margin-left: 180px;
      padding-top: 14px;
      padding-left: 49px;
      padding-right: 48px;
      padding-bottom: 28px;
      font-size: 16px;
      color: #445162;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #ffffff;
      border-radius: 5px;
      border: none; }
      .contacts-form form input:nth-child(4):hover {
        background-color: #5c6a7d;
        color: #ffffff;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer; }
      .contacts-form form input:nth-child(4):active, .contacts-form form input:nth-child(4):focus {
        background-color: #627a98;
        color: #ffffff; }

.contacts-block {
  width: 300px;
  position: relative;
  left: 11px;
  bottom: 53px; }

.contacts-block__list {
  width: 195px; }

.contacts-block__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 19px; }
  .contacts-block__list li:hover {
    opacity: 0.5;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .contacts-block__list li img {
    margin-left: -5px; }
    .contacts-block__list li img:hover {
      cursor: pointer; }
  .contacts-block__list li a {
    padding-top: 1px;
    padding-left: 5px;
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-transform: none; }

.block__list-ico-skype {
  position: relative;
  top: -5px; }

.block__list-ico-icq {
  position: relative;
  top: -6px; }

.block__list-ico-email {
  position: relative;
  top: -6px; }

.block__list-ico-phone {
  position: relative;
  top: -4px; }

.block__list-href-skype {
  position: relative;
  top: 0px; }

.block__list-href-icq {
  position: relative;
  top: -1px;
  left: -1px; }

.block__list-href-email {
  position: relative;
  top: -5px;
  right: 1px; }

.block__list-href-phone {
  position: relative;
  top: -2px;
  right: 2px; }

.contacts-block__social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -8px;
  right: 3px;
  margin-left: -0.5px; }
  .contacts-block__social-buttons li {
    padding-right: 8px;
    /*   &:nth-child(4) {
            position: relative;
            right: -2px;
        }
        &:last-child {
            position: relative;
            right: -3px;
        }*/ }
    .contacts-block__social-buttons li:hover {
      opacity: 0.5;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

.undeline-none {
  text-decoration: none; }

/* ----------- */
/*  Section-7  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-8  */
/* ----------- */
.section-8 {
  margin-top: -12px;
  background-color: #f5f5f5;
  min-height: 26px; }

.head-section-8 {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 12px;
  color: #56606f;
  text-transform: none;
  font-weight: 400; }

/* ----------- */
/*  Section-8  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
