/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-1  */
/* ----------- */
.section-1  {
    max-block-size: 344px;
    background-color: #445162;
}

.head-product {
    font-size: 60px;
    color: #ffffff;
    text-transform: none;
    font-weight: 400;
}

.section-1__box-flex {
    display: flex;
    justify-content: space-around;
}
.section-1__box-flex__img {
    background-image: url(../img/section-1/img-section-1.png);
    background-repeat: no-repeat;

    position: relative;
    bottom: 100px;
    left: 17px;

    width: 470px;
    height: 215px;

}

.section-1__box-list  {
    margin-top: -8px;
    margin-left: -55px;

    & li {
        display: flex;
    }
    
}

.section-1__box-list__item {
    padding-right: 200px;

    & p {
        position: relative;
        bottom: 9px;
        margin-bottom: 15px;
        padding-left: 36px;
        padding-bottom: 1px;

        font-size: 20px;
        font-weight: 400;
        color: #ffffff;
        text-transform: none;
        line-height: 0px;
    }
}
.section-1__box-list__item {
    background-image: url(../img/section-1/check-icon.png);
    background-repeat: no-repeat;
}
/* ----------- */
/*  Section-1  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */