/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-3  */
/* ----------- */

.section-3 {
    min-height: 415px;
    background-color: #f5f5f5;
}

.section-3__product {
    text-align: center;
    margin-top: 25px;
}

.section-3__product-flex {
    display: flex;
    margin-top: -30px;
}

.section-3__product--features {
    display: flex;
    flex-direction: column;
    width: 1150px;
    padding-left: 0;

    & li {
        display: flex;
        width: 590px; 

        & img {
            margin-top: 20px;
            margin-right: 10px;
            margin-left: 0px;
        }

        & p {      
            font-size: 16px;
            color: #333333;
            text-transform: none;
            font-weight: 400;
            line-height: 1.45;

            &:nth-child(2) {
                margin-top: 14.5px;
            }
        }
    }
}
/* ----------- */
/*  Section-3  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */