/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-4  */
/* ----------- */

.section-4 {
    min-height: 487px;
}

.section-4__scrinshots {
    text-align: center;
    margin-top: 28px;
    padding-left: 2px;
}

.section-4__scrinshots--flex {
    display: flex;
    width: 1228px;
}

.scrinshots--flex {
    display: flex;
    width: 620px;

    & img {
        margin-top: 9px;
        margin-left: 2px;
        margin-right: 16px;
    }
}
.scrinshots--flex__img-2 {
    position: relative;
    top: -17px;
}
.scrinshots--flex__img-4 {
    position: relative;
    top: 2px;
    right: 29px;
}

.scrinshots--flex--info {
    position: relative;
    top: -17px;

    & h2 {
        font-size: 24px;
        color: #858c95;
        text-transform: none;
        font-weight: 400;
    }

    & p {
        position: relative;
        top: 5px;

        width: 374px;
        margin-bottom: 0;
        padding-bottom: 5px;

        font-size: 16px;
        color: #333333;
        text-transform: none;
        font-weight: 400;
        line-height: 1.55;
    }
}

.scrinshots--flex--info__head {
    margin-bottom: -12px;
}
.scrinshots--flex--info__head-2 {
    position: relative;
    right: 32px;
}
.scrinshots--flex--info__head-3 {
    position: relative;
    top: 4px;
    right: 1px;
}
.scrinshots--flex--info__head-4 {
    position: relative;
    top: 4px;
    right: 31px;
}

.scrinshots--flex--info-left {
    margin-right: 65px;
}
.scrinshots--flex--info-left-2 {
    position: relative;
    top: 4px;
    right: 31px;
}
.scrinshots--flex--info-left-3 {
    margin-top: -10px;
    right: 1px;
}
.scrinshots--flex--info-left-4 {
    margin-top: -11px;
    right: 31px;
}
/* ----------- */
/*  Section-4  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */