/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-6  */
/* ----------- */

.section-6 {
    min-height: 655px;

    margin-top: -4px;
    padding-left: 49px;
    padding-right: 50px;
    padding-bottom: 49px;
}

.section-6__buy-it-now {
    text-align: center;
}

.buy-it-now-flex {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 14px;
}

.buy-it-now-flex__columns {
    margin-right: 45px;

    border-radius: 5px;
    //background-color: #445162;

    &:first-child {
        margin-left: -1px;
    }
    &:last-child {
        margin-right: 0px;
    }

}
.buy-it-now-flex__columns-standart {
    width: 300px;
    height: 306px;
    margin-top: 193px;

    background-image: url(../img/section-6/bg-standart.png);
    background-repeat: no-repeat;
}
.buy-it-now-flex__columns-premium {
    width: 300px;
    margin-top: 101px;
    
    background-image: url(../img/section-6/bg-premium.png);
    background-repeat: no-repeat;
}
.buy-it-now-flex__columns-lux {
    width: 300px;
    max-block-size: 499px;
    
    background-image: url(../img/section-6/bg-lux.png);
    background-repeat: no-repeat;
}

.buy-it-now-flex__columns-inside {
    padding-left: 2px;
    padding-right: 5px;
}

.buy-it-now-flex__columns--header {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 17px;

    text-align: center;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;

    text-transform: none;
}

.columns--header__standart {
    position: relative;
    top: -10px;

    margin-top: 5px;
    margin-bottom: -8px;
}
.columns--header__premium {
    position: relative;
    top: 0px;

    margin-top: -8px;
}
.columns--header__lux {
    position: relative;
    bottom: -3px;

    margin-top: 0px;
}

.buy-it-now-flex__columns--price {
    height: 64px;

    margin-top: 21px;
    margin-bottom: 0px;
    padding-top: 6px;
    padding-bottom: 16px;

    text-align: center;
    font-size: 40px;
    color: #445162;
    font-weight: 400;

    background-color: #ffffff;
}
.buy-it-now-flex__columns--price-standart {
    position: relative;
    top: 3px;
    left: 2px;

}
.buy-it-now-flex__columns--price-premium {
    position: relative;
    top: -2px;
    left: 2px;
}
.buy-it-now-flex__columns--price-lux {
    position: relative;
    top: -4px;
    left: 2px;
}

.flex__inside {
    padding-left: 18px;
    padding-right: 18px; 
}
.flex__inside__lux {
    position: relative;
    top: -10px;
}

.flex__inside--list {
    margin-bottom: 44px;
    padding-top: 6px;

    & li {
        font-size: 14px;
        color: #ffffff;
        font-weight: 400;
        line-height: 1.85;

        text-transform: none;
    }
}
.flex__inside--list-standart {     
    position: relative;
    width: 303px;
    top: -8px;
    right: -1px;

    padding-top: 1px;
    margin-left: -25px;
}
.flex__inside--list__premium {
    width: 303px;
    position: relative;
    top: -12px;
    right: 23px;
}
.flex__inside--list__lux {
    position: relative;
    width: 303px;
    top: -8px;
    right: 15px;
}

.button-buy {
    margin-top: 19px;
    margin-bottom: 20px;
    padding-top: 14px;
    padding-left: 111px;
    padding-right: 112px;
    padding-bottom: 13px;

    font-size: 18px;
    color: #445161;
    font-weight: bold;
    border: none;

    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
        border: 1px solid white;
        background-color: #4f5e71;
        color: #ffffff;
        transition: 0.5s;
    }
    &:active,
    &:focus {
        border: 1px solid white;
        background-color: #617185;
        color: #ffffff;
    }
}
.button-buy__standart {
    position: relative;
    top: -29px;
}
.button-buy__premium {
    position: relative;
    top: -32px;
}
.button-buy__lux {
    position: relative;
    top: -34px;
}

/* ----------- */
/*  Section-6  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */